.portfolio-digital {
  .img-container-parent {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    .img-container-outerWrapper {
      .img-container {
        margin: 50px 0;
        margin-right: 10px;
        width: 300px;
        overflow-x: scroll;
        display: flex;
        flex-direction: row;
        position: absolute;
        box-sizing: border-box;
        left: 0;
        top: 0;
        margin-left: 37px;
        margin-top: 100px;

        &__image {
          // width: 100%;
          height: auto;
          margin: 0 5px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .portfolio-digital {
    .img-container-parent {
      .img-container-outerWrapper {
        .img-container {
          width: 700px;
          margin: 0;
          margin-top: 190px;
          margin-left: 30px;

          &__image {
          }
        }
      }
    }
  }
}

// Laptop 1280
@media only screen and (min-width: 1280px) {
  .portfolio-digital {
    .img-container-parent {
      .img-container-outerWrapper {
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        overflow-y: scroll;
        top: -260px;
        margin-left: -730px;
        overflow-x: hidden;
        position: absolute;
        width: 49vh;
        height: 86vw;
        direction: rtl;
        .img-container {
          margin: 0;
          left: -420px;
          top: 0;
          position: absolute;
          overflow-x: hidden;
          flex-direction: row;
          width: 2222vh;
          height: 50vh;
          overflow-x: hidden;
          transform: rotate(90deg) translateY(-100vh);
          transform-origin: top left;
          direction: ltr;
          &__image {
          }
        }
      }
    }
  }
}

// Web 1366
@media only screen and (min-width: 1366px) {
  .portfolio-digital {
    .img-container-parent {
      .img-container-outerWrapper {
        top: -260px;
        margin-left: -660px;
        width: 46vh;
        height: 78vw;
        .img-container {
          &__image {
          }
        }
      }
    }
  }
}

// Web 1440
@media only screen and (min-width: 1440px) {
  .portfolio-digital {
    .img-container-parent {
      .img-container-outerWrapper {
        top: -240px;
        margin-left: -770px;
        width: 55vh;
        height: 86vw;
        .img-container {
          &__image {
          }
        }
      }
    }
  }
}

// Web 1920
@media only screen and (min-width: 1920px) {
  .portfolio-digital {
    .img-container-parent {
      .img-container-outerWrapper {
        top: -205px;
        margin-left: -830px;
        width: 57vh;
        height: 67vw;
        .img-container {
          width: 2216.6vh;
          &__image {
          }
        }
      }
    }
  }
}
