.portfolio {
  .img-container-parent {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    .img-container {
      margin: 50px 0;
      margin-right: 10px;
      width: 300px;
      overflow-x: scroll;
      display: flex;
      flex-direction: row;
      position: absolute;
      box-sizing: border-box;

      bottom: 110px;
      &__image {
        // width: 100%;
        height: auto;
        margin: 0 5px;
      }
    }
  }
  .portfolio-nav {
  }
}

@media only screen and (min-width: 768px) {
  .portfolio {
    .img-container-parent {
      .img-container {
        margin-bottom: 150px;
        width: 700px;
        &__image {
        }
      }
    }
    .portfolio-nav {
    }
  }
}

// Desktop 1280 px
@media only screen and (min-width: 1280px) {
  .portfolio {
    .img-container-parent {
      margin: 0;
      padding: 0;
      .img-container {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        // align-items: center;
        // justify-content: center;
        overflow-y: scroll;

        transform: rotate(-90deg);
        margin-bottom: 150px;
        width: 400px;
        height: 300px;
        &__image {
          transform: rotate(90deg);
          margin: 0;
          padding: 0;
        }
      }
    }
    .portfolio-nav {
    }
  }
}
