.topbar {
  text-align: center;
  font-size: 45px;
  padding: 15px 0;
  font-family: "Kaushan Script", cursive;
}

@media only screen and (min-width: 768px) {
  .topbar {
    font-size: 80px;
  }
}

@media only screen and (min-width: 1280px) {
  .topbar {
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
  }
}

// Desktop 1920 px
@media only screen and (min-width: 1920px) {
  .topbar {
    font-size: 120px;
  }
}
