.udemyCard {
  width: 200px;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.651);
  border-radius: 20px;
  -webkit-box-shadow: 0px 6px 17px -1px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 6px 17px -1px rgba(0, 0, 0, 0.19);
  font-family: "Rancho", cursive;
  position: relative;
  &__avatar {
    width: 150px;
    height: 90px;
    border-radius: 20px;
    margin: 10px 0;
  }
  &__icon {
    width: 30px;
    height: 29px;
    position: absolute;
    top: 90px;
  }

  &__header {
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .udemyCard {
    width: 240px;
    height: 270px;

    &__avatar {
      width: 170px;
      height: 110px;
      border-radius: 20px;
      margin: 10px 0;
    }
    &__icon {
      width: 43px;
      height: 42px;
      top: 95px;
    }

    &__header {
      font-size: 35px;
      padding-top: 5px;
    }
  }
}

// Desktop 1280 px
@media only screen and (min-width: 1280px) {
  .udemyCard {
    width: 280px;
    height: 380px;

    &__avatar {
      width: 170px;
      height: 110px;
      border-radius: 20px;
      margin: 20px 0 10px 0;
    }
    &__icon {
      width: 43px;
      height: 42px;
      top: 105px;
    }

    &__header {
      font-size: 40px;
      padding-top: 15px;
    }
  }
}

// Desktop 1920 px
@media only screen and (min-width: 1920px) {
  .udemyCard {
    width: 380px;
    height: 560px;

    &__avatar {
      width: 260px;
      height: 180px;
      border-radius: 20px;
      margin: 20px 0 10px 0;
    }
    &__icon {
      width: 53px;
      height: 52px;
      top: 175px;
    }

    &__header {
      font-size: 55px;
      padding-top: 20px;
    }
  }
}
